.main_header {
    color: #ffffff;
    grid-area: h;
    min-height: 60px;
    background-color: #2aa5ac;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 400px;
    padding: 10px;
    align-items: center;

}

.main_header_img {
    max-width: 70px;
}