.center {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs  a{
    text-decoration: none;
}

.dialogs {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.messages {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.active-name {
    color: #2aa5ac;
}

.textarea {
    max-width: 200px;
    border-radius: 5px;
}

.but {
    max-width: 200px;
    border-radius: 5px;
    background-color:  #49c0f0;
    color:#fafafa;
}